<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">

    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container">
            <div>
                <nav th:replace="navbar :: navigation"></nav>

                <div class="card-body">
                    <div class="mb-2" th:if="${param.error}">
                        <span class="card-text text-danger text-sm-left">Invalid username or password</span>
                    </div>
                    <div class="mb-2" th:if="${param.logout}">
                        <span class="card-text text-danger text-sm-left">You have been logged out</span>
                    </div>
                <h2 class="bg-dark text-danger card-header font-weight-light" style="text-align:center">Welcome to Fullstack Todo</h2>
                </div>
            </div>
    </div>


</body>
</html>

