<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">

    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>

    <div class="container" >

        <table >
            <!--<label for="itemId">Item id:</label>
            <input th:#numbers="itemList.getItemId()" value="${itemList.itemId}" id="itemId" name="itemId" />-->
            <tr for="itemTitle">Item Title:
            <td th:text="itemTitle"  id="itemTitle" name="itemTitle" ></td>
            </tr>
            <tr for="description">Item Description:
            <td th:text="itemDescription" id="description" name="itemDescription" ></td>
            </tr>
            <tr for="deadline">Deadline:
            <td th:text="deadline" id="deadline" name="deadline" ></td>
            </tr>
            <tr for="status">Item Status:
            <td th:text="doneStatus" id="status" name="doneStatus" ></td>
            </tr>
            <tr for="reward">Reward:
            <td th:text="reward" id="reward" name="reward" ></td>
            </tr>
        </table>


    </div>

    <a class="btn btn-link" th:href="@{users/items/create}">Create</a>



</body>
</html>