<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">

    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>

    <div th:each="name: ${itemList}">

        <div class="container">
            <div class="row">
                <h2 th:text="${name.valueOf(itemId)}"> Items</h2>
            </div>

            <div class="row">
                <div class="col-1">
                    <span>Title:</span>
                </div>
                <div class="col-11">
                    <span th:text="${name.itemTitle}">Title:</span>
                </div>    </div>
            <div class="row">
                <div class="col-1">
                    <span>Description:</span>
                </div>
                <div class="col-5">
                    <span th:text="${name.itemDescription}"> Description</span>
                </div>
                <div class="col-1">
                    <span>Deadline:</span>
                </div>
                <div class="col-5">
                    <span th:text="${name.deadline}">Deadline</span>
                </div>
            </div>
            <div class="col-1">
                <span>Status:</span>
            </div>
            <div class="col-5">
                <span th:text="${name.doneStatus}">Status</span>
            </div>
            <div class="col-1">
                <span>Reward:</span>
            </div>
            <div class="col-5">
                <span th:text="${name.reward}">Reward</span>
            </div>
        </div>
        </div>
            <a class="btn btn-link" th:href="@{/items/{id}/update}">Update</a>
        </div>

    </div>

    <a class="btn btn-link" th:href="@{/items/create}">Create</a>



</body>
</html>