<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">

    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
<div class="container">
    <h2>Item search</h2>


<div class="container">

<!--    <form method="get" th:action="@{/items}" th:object="${item}">-->
<!--        <label for="itemtitle">Item</label>-->
<!--        <input class="form-control" id="itemTitle" th:fields="*{itemTitle}" type="text" placeholder="Write item ..." />-->
<!--        <button class="btn btn-outline-primary" type="submit">Save item</button>-->
<!--    </form>-->

</div>

<div th:each="name : ${item}" >
    <p>Item title:</p>
    <p th:text="${name}"></p>
    <p>Description:</p>
<!--    <p th:text="${item.getItemDescription()}"></p>-->
    <p>Deadline:</p>
</div>


</div>
</body>
</html>