<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">

    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>

    <div class="container" >

        <form th:action="@{/users/items/details}" th:object="${itemList}" th:method="get">
            <label for="itemId">Item id:</label>
            <input th:text ="${#numbers.itemList.getItemId()}" value="${itemList.itemId}" id="itemId" name="itemId" />
            <label for="itemTitle">Item Title:</label>
            <input th:text="itemList.getItemTitle()" id="itemTitle" name="itemTitle" />
            <label for="description">Item Description:</label>
            <input th:text="itemList.getItemDescription()" id="description" name="description" />
            <label for="deadline">Deadline:</label>
            <input th:text="itemList.getDeadline()" id="deadline" name="deadline" />
            <label for="status">Item Status:</label>
            <input th:text="itemList.isDoneStatus()" id="status" name="status" />
            <label for="reward">Reward:</label>
            <input th:text="itemList.getReward()" id="reward" name="reward" />
        </form>


    </div>

    <a class="btn btn-link" th:href="@{users/items/create}">Create</a>



</body>
</html>