<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">

    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div class="container">
    <div>
        <h2 class="bg-dark text-danger card-header font-weight-light">Register user</h2>
        <div class="card-body">
            <div class="mb-2" th:if="${param.error}">
                <span class="card-text text-danger text-sm-left">This username is already in use</span>
            </div>
           <div class="mb-2" th:if="${param.logout}">
                <span class="card-text text-danger text-sm-left">You have been logged out</span>
           </div>
            <form th:action="@{/register}" th:object="${form}" method="post">
                <div class="input-group mb-2">
                    <span class="input-group-text">Username:</span>
                </div>
                <input class="form-control" type="text" id="username"  th:field="*{username}" placeholder="Enter your username"/>
                <div th:if="${#fields.hasErrors('username')}">
                    <ul class="p-0" >
                        <li  th:each="err : ${#fields.errors('username')}">
                            <span class="form-error" th:text="${err}"></span>
                        </li>
                    </ul>
                </div>
                <br>
                <div class="input-group mb-2">
                    <span class="input-group-text">First name:</span>
                </div>
                <input class="form-control" type="text" id="firstName"  th:field="*{firstName}" placeholder="Enter your first name"/>
                <div th:if="${#fields.hasErrors('firstName')}">
                    <ul class="p-0" >
                        <li  th:each="err : ${#fields.errors('firstName')}">
                            <span class="form-error" th:text="${err}"></span>
                        </li>
                    </ul>
                </div>
                <br>
                <div class="input-group mb-2">
                    <span class="input-group-text">Last name:</span>
                </div>
                <input class="form-control" type="text" id="lastName"  th:field="*{lastName}" placeholder="Enter your last name"/>
                <div th:if="${#fields.hasErrors('lastName')}">
                    <ul class="p-0" >
                        <li  th:each="err : ${#fields.errors('lastName')}">
                            <span class="form-error" th:text="${err}"></span>
                        </li>
                    </ul>
                </div>
                <br>
                <div class="input-group mb-2">
                    <span class="input-group-text">Password:</span>
                </div>
                <input class="form-control" type="password" id="password"  th:field="*{password}" placeholder="Enter your password"/>
                <div th:if="${#fields.hasErrors('password')}">
                    <ul class="p-0" >
                        <li  th:each="err : ${#fields.errors('password')}">
                            <span class="form-error" th:text="${err}"></span>
                        </li>
                    </ul>
                </div>
                <br>
                <div class="input-group mb-2">
                    <span class="input-group-text">Confirm password:</span>
                </div>
                <input class="form-control" type="password" id="passwordConfirm"  th:field="*{passwordConfirm}" placeholder="Confirm your password"/>
                <div th:if="${#fields.hasErrors('passwordConfirm')}">
                    <ul class="p-0" >
                        <li  th:each="err : ${#fields.errors('passwordConfirm')}">
                            <span class="form-error" th:text="${err}"></span>
                        </li>
                    </ul>
                </div>
                <br>
                <button type="submit" class="btn-dark text-white" >Register</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </form>


        </div>
    </div>
</div>

</body>
</html>


